* {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  max-width: 100%;
  width: 100%;
  margin: auto;
  font-family: 'Raleway',sans-serif;
}

.Diagnostic {
  background-image: url("../images/write-593333_1920.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150% auto;
  height: 598px;
}

.actualities {
  background-image: url("../images/twitter-292994_1920.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150% auto;
  height: 598px;
}

.ideas {
  background-image: url("../images/light-bulbs-1875384_1920.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150% auto;
  height: 598px;
}

.Transport {
  background-image: url("../images/airport-2373727_1920.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150% auto;
  height: 598px;
}

.permis {
  background-image: url("../images/car-1149997_1920.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150% auto;
  height: 598px;
}

.partenaires {
  background-image: url("../images/paper-3213924_1920.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150% auto;
  height: 598px;
}

article .idea {
  padding: 20px 200px 10px 100px;
  margin-bottom: 10px;
}

article .idea input {
  margin-top: 5px;
  padding: 5px;
}

article .idea textarea {
  margin-top: 5px;
  padding: 5px;
}

article .button {
  padding: 0 200px 0 100px;
}

article .button button {
  border-radius: 20px;
  padding: 10px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3d4e9), to(#5b4394));
  background: linear-gradient(#f3d4e9, #5b4394);
}

article .button button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

a {
  padding: 10px;
  width: 10%;
  text-decoration: none;
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5b4394;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-shadow: 0 5px 10px #272727dc;
  -webkit-box-shadow: 0 5px 10px #272727dc;
          box-shadow: 0 5px 10px #272727dc;
}

header .logo {
  width: 20%;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 30px;
  margin-right: 50px;
}

header .nav a {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 13%;
}

.section {
  -webkit-animation: page 2s;
          animation: page 2s;
  background-image: url("../images/provins-2450369_1920.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150% auto;
  height: 598px;
}

@-webkit-keyframes page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.element:nth-child(1) {
  -webkit-animation: element 300ms;
          animation: element 300ms;
}

.element:nth-child(2) {
  -webkit-animation: element 700ms;
          animation: element 700ms;
}

.element:nth-child(3) {
  -webkit-animation: element 1100ms;
          animation: element 1100ms;
}

.element:nth-child(4) {
  -webkit-animation: element 1500ms;
          animation: element 1500ms;
}

.element:nth-child(5) {
  -webkit-animation: element 1900ms;
          animation: element 1900ms;
}

.element:nth-child(6) {
  -webkit-animation: element 2300ms;
          animation: element 2300ms;
}

@-webkit-keyframes element {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes element {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box h2 {
  font-size: 4.5em;
  padding: 70px 0 100px 20px;
  width: 30%;
  color: black;
}

.box .link {
  width: 65%;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[2];
      grid-template-columns: repeat(2, 350px);
  -ms-grid-rows: (170px)[3];
      grid-template-rows: repeat(3, 170px);
}

.box .link a .element {
  border-radius: 20px;
  color: black;
  background-color: #f3d4e9;
  width: 300px;
  height: 150px;
  padding: 10px;
}

.box .link a .element:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 5px 10px #b8a6c783;
          box-shadow: 0 5px 10px #b8a6c783;
}

.box .link a .element h3 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.partners {
  width: 200px;
  padding: 10px;
}

.partners:nth-child(1) {
  -webkit-animation: partners 1000ms;
          animation: partners 1000ms;
}

.partners:nth-child(2) {
  -webkit-animation: partners 2000ms;
          animation: partners 2000ms;
}

@-webkit-keyframes partners {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes partners {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.corps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  -ms-grid-rows: (60%)[3];
      grid-template-rows: repeat(3, 60%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.corps .elements {
  margin: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.562);
  padding: 5px;
  border-radius: 10px;
}

.corps .elements h2 {
  padding-bottom: 25px;
}

footer {
  -webkit-box-shadow: 0 -5px 10px #272727dc;
          box-shadow: 0 -5px 10px #272727dc;
  background-color: #5b4394;
  text-shadow: 0 5px 10px #272727dc;
  padding: 40px;
}

footer a {
  color: white;
  font-size: 1.3em;
}
/*# sourceMappingURL=style.css.map */